In [2]:
import pandas as pd
import numpy as np

In [3]:
df_ncdb = pd.read_csv('C:\\Users\\rajpu\\OneDrive\\Documents\\Projects_git\\Datasets_large\\ncdb_merged_filtered.csv', low_memory=False)
df_toronto = pd.read_csv('C:\\Users\\rajpu\\OneDrive\\Documents\\Projects_git\\Datasets_large\\toronto_collisions_silver.csv', low_memory=False)

In [4]:
print("="*80)
print("NCDB DATASET ANALYSIS")
print("="*80)
print(f"Shape: {df_ncdb.shape}")
print(f"\nColumns: {list(df_ncdb.columns)}")
print(f"\nData types:\n{df_ncdb.dtypes}")
print(f"\nYear range: {df_ncdb['C_YEAR'].min()} - {df_ncdb['C_YEAR'].max()}")
print(f"\nSeverity breakdown:")
print(df_ncdb['C_SEV'].value_counts())
print(f"\nSeverity labels:")
print(df_ncdb['Severity_Label'].value_counts())

================================================================================
NCDB DATASET ANALYSIS
================================================================================
Shape: (7732404, 23)

Columns: ['C_YEAR', 'C_MNTH', 'C_WDAY', 'C_HOUR', 'C_SEV', 'C_WTHR', 'C_RSUR', 'C_CONF', 'C_TRAF', 'C_RCFG', 'C_VEHS', 'C_RALN', 'P_SEX', 'P_AGE', 'P_ISEV', 'P_PSN', 'P_SAFE', 'P_USER', 'V_TYPE', 'V_YEAR', 'Report_Date', 'Severity_Label', 'Sex_Label']

Data types:
C_YEAR              int64
C_MNTH              int64
C_WDAY              int64
C_HOUR              int64
C_SEV               int64
C_WTHR            float64
C_RSUR            float64
C_CONF            float64
C_TRAF            float64
C_RCFG            float64
C_VEHS            float64
C_RALN            float64
P_SEX              object
P_AGE             float64
P_ISEV            float64
P_PSN             float64
P_SAFE            float64
P_USER            float64
V_TYPE            float64
V_YEAR             object
Report_Date        object
Severity_Label     object
Sex_Label          object
dtype: object

Year range: 1999 - 2021

Severity breakdown:
C_SEV
2    7602515
1     129889
Name: count, dtype: int64

Severity labels:
Severity_Label
Injury    7602515
Fatal      129889
Name: count, dtype: int64

In [10]:
print("\n" + "="*80)
print("TORONTO DATASET ANALYSIS")
print("="*80)
print(f"Shape: {df_toronto.shape}")
print(f"\nColumns: {list(df_toronto.columns)}")
print(f"\nData types:\n{df_toronto.dtypes}")
print(f"\nYear range: {df_toronto['OCC_YEAR'].min()} - {df_toronto['OCC_YEAR'].max()}")

================================================================================
TORONTO DATASET ANALYSIS
================================================================================
Shape: (772516, 22)

Columns: ['OBJECTID', 'EVENT_UNIQUE_ID', 'OCC_DATE', 'OCC_MONTH', 'OCC_DOW', 'OCC_YEAR', 'OCC_HOUR', 'DIVISION', 'FATALITIES', 'INJURY_COLLISIONS', 'FTR_COLLISIONS', 'PD_COLLISIONS', 'HOOD_158', 'NEIGHBOURHOOD_158', 'LONG_WGS84', 'LAT_WGS84', 'AUTOMOBILE', 'MOTORCYCLE', 'PASSENGER', 'BICYCLE', 'PEDESTRIAN', 'clean_date']

Data types:
OBJECTID               int64
EVENT_UNIQUE_ID       object
OCC_DATE               int64
OCC_MONTH             object
OCC_DOW               object
OCC_YEAR               int64
OCC_HOUR               int64
DIVISION              object
FATALITIES             int64
INJURY_COLLISIONS     object
FTR_COLLISIONS        object
PD_COLLISIONS         object
HOOD_158              object
NEIGHBOURHOOD_158     object
LONG_WGS84           float64
LAT_WGS84            float64
AUTOMOBILE            object
MOTORCYCLE            object
PASSENGER             object
BICYCLE               object
PEDESTRIAN            object
clean_date            object
dtype: object

Year range: 2014 - 2025

In [6]:
print(f"\nINJURY_COLLISIONS unique values:")
print(df_toronto['INJURY_COLLISIONS'].value_counts())

INJURY_COLLISIONS unique values:
INJURY_COLLISIONS
NO     667676
YES    104840
Name: count, dtype: int64

In [7]:
print(f"\nFATALITIES summary:")
print(df_toronto['FATALITIES'].describe())

FATALITIES summary:
count    772516.000000
mean          0.000860
std           0.030219
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           4.000000
Name: FATALITIES, dtype: float64

In [8]:
print("\n" + "="*80)
print("OVERLAP PERIOD ANALYSIS (2014-2021)")
print("="*80)

ncdb_overlap = df_ncdb[df_ncdb['C_YEAR'].between(2014, 2021)]
toronto_overlap = df_toronto[df_toronto['OCC_YEAR'].between(2014, 2021)]

print(f"NCDB records (2014-2021): {len(ncdb_overlap):,}")
print(f"Toronto records (2014-2021): {len(toronto_overlap):,}")

================================================================================
OVERLAP PERIOD ANALYSIS (2014-2021)
================================================================================
NCDB records (2014-2021): 2,169,318
Toronto records (2014-2021): 526,324

In [9]:
print("\nYearly collision counts:")
ncdb_yearly = ncdb_overlap.groupby('C_YEAR').size()
toronto_yearly = toronto_overlap.groupby('OCC_YEAR').size()

comparison = pd.DataFrame({
    'Year': ncdb_yearly.index,
    'NCDB_National': ncdb_yearly.values,
    'Toronto': toronto_yearly.values
})
comparison['Toronto_Share'] = (comparison['Toronto'] / comparison['NCDB_National'] * 100).round(2)
print(comparison)

Yearly collision counts:
   Year  NCDB_National  Toronto  Toronto_Share
0  2014         300407    64596          21.50
1  2015         312030    67265          21.56
2  2016         306254    69669          22.75
3  2017         289801    74209          25.61
4  2018         285378    79271          27.78
5  2019         272299    82831          30.42
6  2020         198743    44738          22.51
7  2021         204406    43745          21.40