In [28]:
import pandas as pd

In [29]:
df_master=pd.read_csv("../../data/silver/NCDB_Toront_holiday_merged/toronto_ncdb_master.csv")
weekly_weather=pd.read_csv("../../data/silver/weather/toronto_weekly_weather.csv")

In [30]:
df_master['ds'] = pd.to_datetime(df_master['ds'])

In [31]:
weekly_weather.head()

         time  precip_mm  snow_depth_cm  min_temp
0  2014-01-06       20.8            1.2     -23.8
1  2014-01-13       12.0            1.2     -24.2
2  2014-01-20        6.0            0.4     -17.3
3  2014-01-27        7.4            0.9     -23.5
4  2014-02-03       12.8            1.4     -20.3

In [32]:
df_master.head()

   Unnamed: 0         ds    y  national_index  week_of_year  is_holiday
0           0 2014-01-06  136         28539.0             2           0
1           1 2014-01-13  136          3090.0             3           0
2           2 2014-01-20  155             0.0             4           0
3           3 2014-01-27  174             0.0             5           0
4           4 2014-02-03  196         10353.0             6           0

In [33]:
print(f"Master 'ds' type: {df_master['ds'].dtype}")
print(f"Weather Index type: {weekly_weather.index.dtype}")

Master 'ds' type: datetime64[ns]
Weather Index type: int64

In [34]:
print(weekly_weather.head())
print(df_master.head())

         time  precip_mm  snow_depth_cm  min_temp
0  2014-01-06       20.8            1.2     -23.8
1  2014-01-13       12.0            1.2     -24.2
2  2014-01-20        6.0            0.4     -17.3
3  2014-01-27        7.4            0.9     -23.5
4  2014-02-03       12.8            1.4     -20.3
   Unnamed: 0         ds    y  national_index  week_of_year  is_holiday
0           0 2014-01-06  136         28539.0             2           0
1           1 2014-01-13  136          3090.0             3           0
2           2 2014-01-20  155             0.0             4           0
3           3 2014-01-27  174             0.0             5           0
4           4 2014-02-03  196         10353.0             6           0

In [35]:
weekly_weather = weekly_weather.reset_index()

In [ ]:
weekly_weather.reset_index(inpla